$grayLighter: #eeeeee;
$grayDarker: #666666;
$greenLighter: #3fd28b;
$greenLighterOff: #8ddc97;
$blue: #2a7ff3;
$grayShade: #e0e2e2;
$gray: #eeeeee;
$grayLighter: lightgrey;
$grayAlpha: #0000001f;
$pinkExpire: #ffe4e6;
$redExpire: #d80000;
