@font-face {
  font-family: quicksand;
  src: url("../../../Quicksandfont1/static/Quicksand-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "quicksand";
  background: #eeeeee;
}

/* general classes */
.mr-6 {
  margin-right: 6px;
}

.mx-8 {
  margin: 0 8px;
}

.vr {
  width: 1px;
  height: 12px;
  background: #000000;
  margin: 0 8px;
}

.fc-green {
  color: #3fd28b;
}

.fs-8 {
  font-size: 8px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.fc-gray {
  color: #666666;
}

.fw-mid {
  font-weight: medium;
}

.favorite-size {
  height: 24px;
  width: 20px;
  margin-left: 174px;
}

.notfication {
  display: flex;
  justify-content: center;
  color: white;
  background: #2a7ff3;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.course-title-color {
  color: #222222;
}

.bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}

.active-black {
  border-bottom: 4px solid black;
}

/* main conatiner */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* dashboard container styles */
.dashboard-container {
  height: 853px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navigation styles */
.nav {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: url('../../header\ pattern\ image.png'); */
  background: black;
  margin-bottom: 24px;
}

.nav-img-logo {
  margin-left: 24px;
}

.nav-list {
  margin-right: 8px;
}

.nav-list-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list-item {
  margin: 0 16px;
}

/* .hr-white {
  height: 4px;
  width: 94px;
  background: white;
} */
.nav-list-item-active-link-active {
  color: white;
  /* border-bottom: 2px solid white; */
}

.ham-menu {
  display: none;
}

/* course-class-section */
.course-class-section {
  background: #8ddc97;
  width: 976px;
  height: 64px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.class-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* search-sort styles */
.sort-list {
  width: 165px;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 5px;
  cursor: pointer;
  background: url("../../../icons/arrow-down.svg") no-repeat;
  background-position: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 8px;
  margin-left: 4px;
  font-weight: medium;
}

.course-search {
  width: 976px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  padding: 16px 0;
  border-bottom: 1px solid lightgrey;
}

.total-course {
  width: 50%;
}

.course-sort {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.course-sort-img {
  margin-left: 24px;
}

/* courses-grid styles */
.courses-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

/* course-card styles */
.course-card {
  width: 476px;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: white;
  /* border: 1px solid black; */
}

.card-content {
  display: flex;
  /* justify-content: center; */
  margin: 24px 16px 16px 24px;
}

.course-img {
  border-radius: 2px;
}

.course-data {
  width: 100%;
}

.title {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 7px;
}

.course-img {
  margin-right: 16px;
}

.course-tag {
  background: #ffe4e6;
  color: #d80000;
  margin-bottom: -18px;
}

.course-tag-data {
  padding: 4px 7px;
}

.course-expired {
  margin-top: 0px;
}

.subject {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7px;
}

/* units styles */
.units {
  margin-bottom: 16px;
}

.course-class {
  width: 264px;
  height: 27px;
  margin-bottom: 8px;
}

.course-class-list {
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 5px;
  cursor: pointer;
  background: url("../../../icons/arrow-down.svg") no-repeat;
  background-position: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 8px;
}

/* stats-data styles */
/* divider styles */
.divider-black {
  height: 1px;
  width: 80%;
  background: lightgrey;
  margin: 0 24px;
}

/* svgs styles */
.svgs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* .svgs > img {
  width: 18px;
  height: 24px;
} */
/* about section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 16px;
}

.hr {
  height: 18px;
  width: 1px;
  background: #e0e2e2;
  margin: 0 10px;
}

/* footer styles */
.footer {
  background: #e0e2e2;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-img {
  padding: 8px 0;
}

.hr-gray {
  height: 24px;
  width: 1px;
  background: #e0e2e2;
  margin: 0 16px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.copy-text {
  margin: 0 8px 0 0;
}

.zeus-text {
  margin: 0 11px 0 0;
}

@media screen and (min-width: 1024px) {
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}
@media screen and (max-width: 1023px) {
  .courses-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
  .course-search {
    width: 75%;
  }
  .course-class-section {
    width: 75%;
  }
  .ham-menu {
    display: block;
  }
  .notfication-items {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */