@font-face {
  font-family: quicksand;
  src: url("../../../Quicksandfont1/static/Quicksand-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  font-family: "quicksand";
  max-height: 798px;
}

/* general */
.form-svgs {
  width: 17px;
  height: 26px;
  margin: auto 0;
}

.mx-8 {
  margin: 0 8px;
}

.medium {
  font-weight: bold;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fc-green {
  color: #1f7a54;
}

.forgot-text {
  width: 90%;
  text-align: right;
}

/* container css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* header css */
.header {
  width: 100%;
  background: url("../../../header pattern image.png");
  border-bottom: 2px solid #31b9e4;
}

.header-logo {
  padding: 11.5px 24px;
}

.header-back {
  display: flex;
  align-items: center;
}

/* form css */
.form {
  height: 550px;
  width: 488px;
  background: white;
  margin: 50px 0;
  border-top: 4px solid #31b9e4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.header-text-div {
  width: 80%;
}

.header-text {
  text-align: center;
  font-size: 24px;
  margin-right: 40px;
}

.school-type {
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
}

.school-type-text {
  margin: auto;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 32px 0 0 18px;
}

.idependent {
  width: 200px;
}

/* state style */
.state {
  width: 100%;
  margin: 25px 0 0 36px;
}

.state-head::after {
  content: "*";
}

.state-list {
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 5px;
  cursor: pointer;
  background: url("../../../icons/arrow-down.svg") no-repeat;
  background-position: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.bottom-line-black {
  width: 90%;
  background: lightgrey;
  height: 1px;
}

.username {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 56px 0 0 36px;
}

.inp-username {
  width: 90%;
  border: 0;
  outline: 0;
  background: white;
  border-bottom: 1px solid lightgrey;
}

.password {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 33px 0 0 36px;
}

.inp-password {
  width: 100%;
  border: 0;
  outline: 0;
  background: white;
  border-bottom: 1px solid lightgrey;
}

.svg-preview {
  border-bottom: 1px solid lightgrey;
  padding: 2px 5px 0 0;
}

.inp-password-cover {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* remember style */
.checked-check {
  display: flex;
  align-items: center;
}

.remember {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 26px 0 0 -10px;
}

.remember-idependent-text {
  margin-left: 5px;
}

.login-btn {
  height: 40px;
  width: 216px;
  background: #3fd28b;
  border: none;
  margin: 34px 0 0 0;
  border-radius: 4px;
  box-shadow: 0 0 2px black;
}

/* about section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 224px 0 16px 0;
}

.hr {
  height: 18px;
  width: 1px;
  background: lightgrey;
  margin: 0 10px;
}

/* footer styles */
.footer {
  background: #e0e2e2;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-img {
  padding: 8px 0;
}

.hr-gray {
  height: 24px;
  width: 1px;
  background: rgba(0, 0, 0, 0.1215686275);
  margin: 0 16px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.copy-text {
  margin: 0 8px 0 0;
}

.zeus-text {
  margin: 0 11px 0 0;
}

@media screen and (min-width: 1024px) {
  .about {
    margin: 32px 0 16px 0;
  }
}/*# sourceMappingURL=styles.css.map */